{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
    <script>
    function initMap() {
        var uluru = {lat: 53.3155368, lng: -6.5964982};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzoE4I4KLfRtJS78yFMQnDf7l_YfvgFNo&callback=initMap">
    </script>
    <script>
    document.addEventListener('keydown', function (event) {
  var esc = event.which == 27,
      nl = event.which == 13,
      el = event.target,
      input = el.nodeName != 'INPUT' && el.nodeName != 'TEXTAREA',
      data = {};

  if (input) {
    if (esc) {
      // restore state
      document.execCommand('undo');
      el.blur();
    } else if (nl) {
      // save
      data[el.getAttribute('data-name')] = el.innerHTML;

      // we could send an ajax request to update the field
      /*
      $.ajax({
        url: window.location.toString(),
        data: data,
        type: 'post'
      });
      */
      log(JSON.stringify(data));

      el.blur();
      event.preventDefault();
    }
  }
}, true);

function log(s) {
  document.getElementById('debug').innerHTML = 'value changed to: ' + s;
}
    </script>
{% endblock %}

{% block title %}Contact - {{ block.super }}{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="col-sm-6">
            <h1>Club Administration</h1>
            {% if user.is_superuser %}
                <blockquote contenteditable="" class="blockquote-reverse">
            {% else %}
                <blockquote class="blockquote-reverse">
            {% endif %}
                <h3 contenteditable="False"class="text-muted">Club Secretary</h3>
                <h4 contenteditable="inherit">Name:   Ger Doyle</h4>
                <h4 contenteditable="False">Phone:  +353 (86) 796-4748</h4>
                <h4 contenteditable="inherit">Email:  straffanafc@eircom.net</h4>
            </blockquote>
            <blockquote class="blockquote-reverse">
                <h3 class="text-muted">Club Treasurer</h3>
                <h4>Name:   Ger Doyle</h4>
                <h4>Phone:  +353 (86) 796-4748</h4>
                <h4>Email:  straffanafc@eircom.net</h4>
            </blockquote>
            <blockquote class="blockquote-reverse">
                <h3 class="text-warning">Team Managers can be found in the <a class="text-info" href="/teams/">Teams</a> section</h3>
            </blockquote>
        </div>

        <div class="col-sm-6">
            <h1>Lodge Park</h1>
            <h4 class="text-info">Click <a href="https://www.google.ie/maps/dir//53.3155,-6.5965/@53.3154074,-6.5970157,177m/data=!3m1!1e3!4m8!1m7!3m6!1s0x0:0x0!2zNTPCsDE4JzU1LjgiTiA2wrAzNSc0Ny40Ilc!3b1!8m2!3d53.315491!4d-6.596508" target="_blank">
                Here</a> for direction to Lodge Park using Google Maps</h4>
            <div id="map"></div>
        </div>
    </div>
{% endblock %}