{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
    <script>
    function initMap() {
        var uluru = {
            lat: {% if club.lat %}{{ club.lat }}{% else %}53.3155368{% endif %},
            lng: {% if club.long %}{{ club.long }}{% else %}-6.5964982{% endif %}
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzoE4I4KLfRtJS78yFMQnDf7l_YfvgFNo&callback=initMap">
    </script>
    <script>
    document.addEventListener('keydown', function (event) {
  var esc = event.which == 27,
      nl = event.which == 13,
      el = event.target,
      input = el.nodeName != 'INPUT' && el.nodeName != 'TEXTAREA',
      data = {};

  if (input) {
    if (esc) {
      // restore state
      document.execCommand('undo');
      el.blur();
    } else if (nl) {
      // save
      data[el.getAttribute('data-name')] = el.innerHTML;

      // we could send an ajax request to update the field
      /*
      $.ajax({
        url: window.location.toString(),
        data: data,
        type: 'post'
      });
      */
      log(JSON.stringify(data));

      el.blur();
      event.preventDefault();
    }
  }
}, true);

function log(s) {
  document.getElementById('debug').innerHTML = 'value changed to: ' + s;
}
    </script>
{% endblock %}

{% block title %}Contact - {{ block.super }}{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="col-sm-6">
            <h1>Club Administration</h1>
            {% for staff in staff %}
                {% if staff.profile.title != '' %}
                <blockquote class="blockquote-reverse">
                <h3 class="text-muted">{{ staff.profile.title }} {{ staff.profile.team }}</h3>
                    {% if staff.profile.image %}
                        <div class="col-md-2 col-sm-3 text-center" style="height: inherit">
                            <img src="{{ staff.profile.image.url }}" alt="Image not Found" onerror="this.onerror=null;this.src='http://placehold.it/100';" style="width:75px; height: 75px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
                        </div>
                    {% endif %}
                <h4>Name: {{ staff.first_name }} {{ staff.last_name }} </h4>
                <h4>Phone: {{ staff.profile.mobile }}</h4>
                <h4>Email:  {{ staff.email }}</h4>
                </blockquote>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-sm-6">
            <h1>{% if club.homefield %}
                {{ club.homefield }}
                {% else %}
                Lodge Park
            {% endif %}
            </h1>
            <h4 class="text-info">Click <a href="https://www.google.ie/maps/dir//{% if club.lat %}{{ club.lat }}{% else %}53.3155{% endif %},{% if club.long %}{{ club.long }}{% else %}-6.5965/@53.3154074,-6.5970157,177m/data=!3m1!1e3!4m8!1m7!3m6!1s0x0:0x0!2zNTPCsDE4JzU1LjgiTiA2wrAzNSc0Ny40Ilc!3b1!8m2!3d53.315491!4d-6.596508{% endif %}" target="_blank">
                Here</a> for direction to {% if club.homefield %}
                {{ club.homefield }}
                {% else %}
                Lodge Park
            {% endif %} using Google Maps</h4>
            <div id="map"></div>
        </div>
    </div>
{% endblock %}