{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if club.name %}{{ club.name }}{% else %}Straffan AFC{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Straffan Football County Kildare Ireland straffanafc kdul kdfl">
    <meta name="author" content="Brendan Greene">
    <link rel="stylesheet" href="{% static 'css/font-awesome-4.5.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/journal/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

    {% block head_js %}{% endblock %}
</head>
<body {% if club.backgroundImage %}style="background-image: url({{ club.backgroundImage.url }})"{% endif %}>
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: {{ club.mainColor }}">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                {% if club.clubLogo %}
                <img src="{{ club.clubLogo.url }}" style="width:120px; height: 120px" alt="Club Logo">
                {% else %}
                <img src="/static/Images/straffan%20afc.png" alt="Straffan Logo">
                {% endif %}
            </a>
            <a class="navbar-brand" style="padding: 19.5px; float: right" href="/">{% if club.name %}{{ club.name }}
                {% else %}Straffan A.F.C.{% endif %} </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                         <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Teams </a>
                    <ul class="dropdown-menu">
                    <li><a href="/teams/">Teams</a></li>
                    <li role="separator" class="divider"></li>
                    {% for team in teams %}
                        <li><a href="/team/{{ team.id }}">{{ team.name }}</a></li>
                    {% endfor %}
                    </ul>
                </li>

                <li><a href="/news/"><i class="fa fa-newspaper-o" aria-hidden="true"></i> News </a></li>
                <li><a href="/schedule/"><i class="fa fa-calendar" aria-hidden="true"></i> Games </a></li>
                <li><a href="/about/"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us </a></li>

                {% if user.is_superuser %}
                    <li><a href="/admin/"><i class="fa fa-wrench" aria-hidden="true"></i> Admin </a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i> Profile </a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out </a></li>
                {% else %}
                    <li><a href="{% url 'login' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Log In </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
    {% if messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <div class="messages">
                {% for message in messages %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>
</div>
<div class="container" style="background-color: {{ club.secondColor }}">
       {% block content %}
       {% endblock %}
</div>
<div id="footer">
    <div class="container-fluid" style="padding-top: 15px; background-color: {{ club.mainColor }}">
        <div class="footer">
                <button class="btn btn-success" style="background-color: {{ club.mainColor }}; float: left" onclick="goBack()"><i class="fa fa-arrow-left fa-2x" aria-label="previous page"></i></button></li>
                <button class="btn btn-success" style="background-color: {{ club.mainColor }}; float: right"><a href="#"><i class="fa fa-arrow-up fa-2x" aria-label="to top of page"></i></a></li></button>

            <ul class="list-inline" id="social">
                <li><a href="https://www.facebook.com" target="_blank" ><i class="fa fa-facebook fa-2x" aria-label="facebook"></i></a></li>
                <li><a href="mailto:straffanafc@eircom.net"><i class="fa fa-envelope fa-2x" aria-label="sendemail"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-2x" aria-label="twitter"></i></a></li>
                <!--li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube fa-2x" aria-label="you tube"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-2x" aria-label="instagram"></i></a></li-->
            </ul>
            <ul class="list-horizontal">
                <li>Site Designed by <a href="https://github.com/brendanjgreene" target="_blank">Brendan Greene!</a></li>
                <li>Important Links <a href="http://kdfl.ie/Documents/kdflregistration.pdf" target="_blank">Registration Form</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
function goBack() {window.history.back();}
</script>
</html>