{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block head_js %}
    <!--  jQuery -->
    <!-- tutorial at https://formden.com/blog/date-picker -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css">

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script>
    $(document).ready(function(){
      var date_input=$('input[id="date"]'); //our date input has the id "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        tinyMCE.init({
            mode: "textareas",
            theme: "modern",
            plugins: "paste"
        });
</script>
{% endblock %}
{% block title %}
    {{ team }}
{% endblock %}
{% block content %}
 <section>
   <div class="col-md-9">
     <form method="POST" enctype="multipart/form-data" action="{{ form_action }}">
         <h1>{{ heading_text }}</h1>
       {% csrf_token %}
       {{ form|as_bootstrap }}
         {% if second_form %}
             {{ second_form|as_bootstrap }}
         {% endif %}
         {% if third_form %}
             {{ third_form|as_bootstrap }}
         {% endif %}
       <div class="form-group">
         <button type="submit" class="btn btn-primary">{{button_text}}</button>
           <button class="btn btn-danger" onclick="window.history.back()">Cancel</button>
       </div>
     </form>

   </div>
 </section>

{% endblock %}