{% extends 'base.html' %}
{% block content %}
    <div class="col-sm-8">
        <div class="col-sm-12">
            <h2>Welcome to {% if club.name %}{{ club.name }}{% else %}Straffan A.F.C.{% endif %}  Website</h2>
            {% if club.description %}
            {% autoescape off %}{{ club.description }}{% endautoescape %}
            {% else %}
            <p><strong>Straffan A.F.C.</strong> was founded in <strong>1978</strong> and we have had many ups and downs during our history.</p>
            <p>The Club won its first league title back in <strong>1981</strong> and our most recent in <strong>2012</strong>.</p>
            <p>Our under age section is growing all the time.</p>
            {% endif %}
        </div>
        <div id="myCarouselContainer" class="col-sm-12">
        <h1 class="text-center">Photo Gallery</h1>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for image in images %}
                        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                    {%endfor%}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                {% for image in images %}
                    <div class="item{% if forloop.first %} active {% endif %}">
                        <img src="{{ image.image.url }}" alt="{{ image.comment }}" style="width:100%";>
                    </div>
                {% endfor %}
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h1 class="text-center">Latest News</h1>
        {% for post in posts %}
            <a href="/story/{{ post.thread_id }}/"><h1>{{ post.thread.name }}</h1>
            <p>
                {% autoescape off %}
                    {{ post.comment }}
                {% endautoescape %}
                {% if post.image %}post contains images click to see them
            {% endif %}
            </p>
            </a>
        {% endfor %}
    </div>

    </div>
{% block head_js %}
    <script>
        $(document).ready(function(){
            // Activate Carousel
            $("#myCarousel").carousel();

            // Enable Carousel Indicators
            $(".item").click(function(){
                $("#myCarousel").carousel(1);
            });
            // Enable Carousel Controls
            $(".left").click(function(){
                $("#myCarousel").carousel("prev");
            });
        });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% endblock %}
