{% extends "base.html" %}
{% block content %}
    {% if user.is_staff %}
        <h2 class="col-sm-12">Players</h2>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>D.O.B.</th>
                <th><strong>Team</strong></th>
                {% if user.is_superuser %}
                    <td>
                    Edit
                    </td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for players in player_list %}
            <tr>
                <td>{{ players.name }}</td>
                <td>{{ players.last_name }}</td>
                <td>{{ players.date_of_birth }}</td>
                <td>{{ players.team }}</td>
                {% if user.is_superuser %}
                    <td>
                        <a href="{% url 'edit-player' players.id %}"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="{% url 'delete-player' players.id %}"><i class="fa fa-trash-o"></i></a>
                    </td>
                {% endif %}
            </tr>

        {% endfor %}
        </tbody>

        </table>
        <a type="button" class="btn btn-success" onclick="location.href='/players/new/'">Create Player</a>
    {% endif %}

{% endblock %}