{% extends "base.html" %}
{% block content %}
    <h2 class="text-info">Success!</h2>
    <p>You are logged in as</p>
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    <h4>{{ user.profile.title }} {{ user.profile.team }}</h4>
    <h4>Phone: {{ user.profile.mobile }}</h4>
    <h5>Username: {{ user.username }}</h5>
    <h5>Your last login was: {{ user.last_login }}</h5>
    <h2 class="text-info">Subscription Details</h2>
    {% if user.username == user.email %}
        <p>you are still using you temporary password, we recommend you chose a new one!</p>
    {% endif %}
    <div class='btn-group'>
        <button type="button" class="btn btn-info" onclick="location.href='{% url "change_your_password" %}'">Change your Password</button>
        <button type="button" class="btn btn-success" onclick="location.href='{% url "edit_profile" %}'">Edit Your Profile</button>
    </div>
    <hr>
    {% if user.is_staff %}
        <p>As a Manager you have access to edit items related to your team</p>
        {% if user.profile.team.id != None %}
        <div class="btn-group">
        <button type="button" class="btn btn-primary" onclick="location.href='{% url "edit_team" user.profile.team.id %}'">Edit your Team's Name</button>
        <button type="button" class="btn btn-info" onclick="location.href='{% url "get_team" user.profile.team.id %}'">View your Team</button>
        </div>
            {% endif %}
    {% endif %}
    <hr>

    {% if user.is_superuser %}
        <p>As a Administrator you have unlimited access</p>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" onclick="location.href='/team/new/'">Create New Team</button>
            <button type="button" class="btn btn-info" onclick="location.href='/admin/home/team/'">Edit Team</button>
            <button type="button" class="btn btn-success" onclick="location.href='/players/new/'">Create New Player</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/players/'">See All Players</button>
        </div>
    {% endif %}


{% endblock %}