{% extends "base.html" %}
{% block content %}
<div class="row">
    <h2 class="text-info col-xs-12">Profile</h2>
    <div class="col-md-3 col-sm-4 text-center">
        <p>You are logged in as:</p>
        {% if user.profile.image %}
        <img src="{{ user.profile.image.url }}" alt="Image not Found" onerror="this.onerror=null;this.src='http://placehold.it/100';" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
        {% endif %}
        <p>{{ user.username }}</p>
    </div>
    <div class="col-md-4 col-sm-5">
        <h3 class="text-info">{{ user.first_name }} {{ user.last_name }}</h3>
        <h4>{{ user.profile.title }} {% if user.profile.team %}- {{ user.profile.team }}{% endif %}</h4>
        <h4><i class="fa fa-phone" aria-hidden="true" aria-label="phone"></i> : {{ user.profile.mobile }}</h4>
        <h5><i class="fa fa-envelope" aria-hidden="true" aria-label="email"></i> - {{ user.email }}</h5>
        <h5>Your last login was: {{ user.last_login }}</h5>
    </div>
    {% if user.is_staff %}
    <div class="col-md-4 col-sm-5">
        <h3 class="text-warning">Important all staff are required to complete Garda Vetting!</h3>
        <a type="button" class="btn btn-warning" href='http://www.fai.ie/sites/default/files/atoms/files/FAI%20Garda%20Vetting.pdf' target='_blank'>Garda Vetting</a>
    </div>
    {% endif %}
</div>
<hr>
<h3 class="text-info">
    {% if user.username == user.email %}
    You are still using your temporary password, Please choose a new one!
    {% endif %}
    Edit Your Password or Profile Here.
</h3>
<div class="btn-group btn-group-justified">
    <a type="button" class="btn btn-info" onclick="location.href='{% url "change_your_password" %}'">Change Password</a>
    <a type="button" class="btn btn-success" onclick="location.href='{% url "edit_profile" %}'">Edit Profile</a>
</div>
<hr>
{% if user.is_staff %}
<h3 class="text-info">Managers have access to edit items related to their team Here.</h3>
{% if user.profile.team.id != None %}
<div class="btn-group btn-group-justified">
    <a type="button" class="btn btn-info" onclick="location.href='{% url "edit_team" user.profile.team.id %}'">Edit Team</a>
    <a type="button" class="btn btn-success" onclick="location.href='{% url "get_team" user.profile.team.id %}'">View Team</a>
</div>
{% endif %}
{% endif %}
<hr>
{% if user.is_superuser %}
<h3 class="text-info">Administrators have access to:</h3>
<div class="btn-group btn-group-justified">
    <a type="button" class="btn btn-info" onclick="location.href='/team/new/'">Add Team</a>
    <a type="button" class="btn btn-success" onclick="location.href='/players/new/'">Add Player</a>
</div>
<div class="btn-group btn-group-justified">
    <a type="button" class="btn btn-success" onclick="location.href='/players/'">See Players</a>
    <a type="button" class="btn btn-info" onclick="location.href='/newuser/'">Add Staff</a>
</div>
{% endif %}
{% endblock %}