:root {
  --main-color: #06c;
  --accent-color: #006;
}
body{
    padding-top: 100px;
    /* padding-bottom: 100px;  no longer necesaasry if footer isn't fixed */
    background-image: url("/static/Images/IMG_8678.JPG");
    background-size: 100%;
}
#footer {
    background-color: #0F7E50;
    background-size: 100%;
    bottom: 0;
    color: #222222;
    height: auto;
    left: 0;
    /* position: fixed; */
    right: 0;
    text-align: center;
}
.list-inline .fa {
    color: #222222;
}

#map {
    height: 450px;
    width: 100%;
}
.container {
    padding: 30px;
    background-color: rgba(255,255,255,0.9);
    margin-bottom: 50px;
    border-radius: 5px;
    overflow: auto;
}

.navbar {
    /*background-color: #22b24c; old green maybe use for hover*/
    background-color: #0F7E50;
}

.navbar-brand a {
    color: #222222;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  padding: 7px 15px;
}
.btn-success {
    background-color: #0F7E50;
}

#to-top {
    margin-bottom: 15px;
}
/* to override user agent stylesheet */
.list-horizontal {
    padding-left: 0;
}
.list-horizontal li {
	display:inline-block;
    text-align: center;
}
.list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#999;
	color:rgba(0,0,0,0.5);
	font-size:11px;
}
.list-horizontal li:first-child:before {
	content: '';
}
#footer button{
    color: #222222;
}
#footer button a{
    color: #222222;
}
#social li{
    padding: 0 4% 0 4%;

}
.calling{
    cursor:url(../Images/phone.png),url(../Images/phone.png),auto;
}

#backToTop {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 22px;
    right: 15px;
    z-index: 1000;
    border: 1px solid #22b24c;
    background-color: #0F7E50;
    color: #222222;
    padding: 8px 12px;
    border-radius: 4px;
}
#backToTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}