{% extends "base.html" %}
{% block content %}
    <h1 class="text-info">{{ team_name }} </h1>
    <h2>Upcoming Under Age Games</h2>
    <table class="table table-striped">
        <thead>
            <th>Home</th>
            <th>Away</th>
            <th>Venue</th>
            <th>Time - Date</th>
        </thead>
    <tbody>
            {% for i in games_list %}
                <tr>
                    <td colspan="4"><strong>{{ i.4 }}</strong></td>
                </tr>
            <tr>
                <td>{{ i.0 }}</td>
                <td>{{ i.1 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }} - {{ i.5 }} </td>

            </tr>
            {% endfor %}
    </tbody>
    </table>

{% endblock %}
