{% extends "base.html" %}
{% load news_extras %}
{% block content %}
   {% load bootstrap_tags %}
    <div class="jumbotron col-sm-12">
    {% if user.is_staff %}
        <a class="btn btn-success pull-right" style="background-color: {{ club.mainColor }}" href="{% url "new_subject" %}">Create new News Subject</a>
    {% endif %}
    </div>
   {% for subject in subjects %}
       <section class="jumbotron">
           <h1>
               {{ subject.name }}
               News
           </h1>
           <p>
                   {% autoescape off %}{{ subject.description }}{% endautoescape %}
           </p>
           <table class="table table-striped">
               <tr>
                   <th>STORIES</th>
                   <th>POSTS</th>
               </tr>
               <tr>
                   <td>{{ subject.threads.count }}</td>
                   <td>{{ subject|get_total_subject_posts }}</td>
               </tr>
           </table>
               <a class="btn btn-success" style="background-color: {{ club.mainColor }}" href="{% url "subjects" subject.id %}">See Stories</a>
       </section>
   {% endfor %}
{% endblock %}