{% extends "base.html" %}
{% load news_extras %}
{% load staticfiles %}

{% block content %}
    <div class="row header">
        <div class="container-fluid jumbotron">
            <h2>{{ thread.subject }}</h2>
            <h1>{{ thread.name }}</h1>
            <div class="btn-group">
                <a href="/news/" class="btn btn-success" style="background-color: {{ club.mainColor }}" >Back to News</a>
                {% if user.is_authenticated %}
                <a href="{% url 'new_post' thread.id %}" class="btn btn-primary">Make New post</a>
                {% endif %}
                {% if user.is_superuser %}
                    <a href="{% url 'edit_story' thread.id %}" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="{% url 'delete_story' thread.id %}" class="btn btn-primary"><i class="fa fa-trash-o"></i></a>
                {% endif %}
            </div>
            <br>
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>CREATED</th>
                            <th>OWNER</th>
                            <th>LAST POST</th>
                        </tr>
                        <tr>
                            <td>
                                <time datetime="{{ thread.created_at }}">
                                    {{ thread.created_at | started_time }}
                                </time>
                            </td>
                            <td>{{ thread.user.username }}</td>
                            <td>
                                {% if thread.posts.count > 0 %}
                                    {% last_posted_user_name thread %}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if thread.poll %}
                <div class="container">
                    <div class="col-md-9">
                        <h2>Poll</h2>
                        <strong>{{ thread.poll.question }}</strong>
                        {% if user.is_superuser %}
                            <a href="/admin/polls/poll/{{ thread.poll.id }}"><i class="fa fa-pencil-square-o"></i></a>
                        {% endif %}
                        <p>Here's how the votes are so far</p>
                        {% for subject in thread.poll.subjects.all %}
                            <div class="col-md-9">
                                <strong>{{ subject.name }}</strong>
                                {% if user.is_superuser %}
                            <a href="/admin/polls/pollsubject/{{ subject.id }}"><i class="fa fa-pencil-square-o"></i></a>
                        {% endif %}
                                <span class="pull-right">{{ subject|vote_percentage }}%</span>
                            </div>
                            {% user_vote_button thread subject user %}
                            <div class="col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-value="{{ subject|vote_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ subject|vote_percentage }}%;">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
            {% for post in thread.posts.all %}
                {% include "news/post.html" %}
            {% endfor %}
    </div>
{% endblock %}