{% extends "base.html" %}
{% load news_extras %}
{% block content %}
    <div class="row header">
        <div class="jumbotron">
            <h1>{{ subject.name }} News</h1>
            {% autoescape off %}{{ subject.description }}{% endautoescape %}
            <div class="btn-group">
                {% if subject.team %}
                    <a class="btn btn-success" style="background-color: {{ club.mainColor }}" href="/team/{{ subject.team.id }}">Go to {{ subject.team.name }} Info</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'new_story' subject.id %}" class="btn btn-primary">New Story</a>
                {% endif %}
                <a href="/news/" class="btn btn-success" style="background-color: {{ club.mainColor }}" >Back to News Subjects</a>
                {% if user.is_superuser %}
                    <a href="{% url 'edit_subject' subject.id %}" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="{% url 'delete_subject' subject.id %}" class="btn btn-primary"><i class="fa fa-trash-o"></i></a>
                {% endif %}
            </div>

        </div>
    </div>
    <table class="col-md-12">
        <hr>
    <table class="table table-striped">
        {% if subject.threads.all %}
        <thead>
            <th>Story</th>
            <th>Started</th>
            <th>Owner</th>
        </thead>
        {% endif %}
        <tbody>
        {% for thread in subject.threads.all %}
            <tr>
                <td>
                    <strong>
                        <a href="{% url 'story' thread.id %}">{{ thread.name }}</a>
                    </strong>
                </td>
                <td>
                    <time datetime="{{ thread.created_at }}">
                        {{ thread.created_at|started_time }}
                    </time>
                </td>
                <td>
                {% for user in users %}
                    {% if user.id == thread.user_id %}
                        {{ user.first_name }} {{ user.last_name }}
                    {% endif %}
                {% endfor %}
                </td>
                <td>
                </td>
            </tr>
            <tr>
            <td colspan="3">
            <div class="col-sm-2">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for post in thread.posts.all %}
                            {% if post.image %}
                                <div class="item{% if forloop.first %} active {% endif %}">
                                    <img src="{{ post.image.url }}" alt="{{ post.comment }}" style="width:100%";>
                                </div>
                            {% endif %}
                        {% endfor %}
                </div>

                </div>
            </div>
            </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
        {% block head_js %}
            <script>
        $(document).ready(function(){
            // Activate Carousel
            $("#myCarousel").carousel();

            // Enable Carousel Indicators
            $(".item").click(function(){
                $("#myCarousel").carousel(1);
            });
            // Enable Carousel Controls
            $(".left").click(function(){
                $("#myCarousel").carousel("prev");
            });
        });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% endblock %}