{% extends "base.html" %}
{% load news_extras %}
{% block content %}
    <div class="row header">
        <div class="jumbotron"><h1>{{ subject.name }}</h1></div>
    </div>
    <div class="col-md-12">
    <div class="btn-group">
        {% if user.is_authenticated %}
            <a href="{% url 'new_thread' subject.id %}" class="btn btn-primary">New Thread</a>
        {% endif %}
        <a href="/news/" class="btn btn-warning">Back to Club News</a>
    </div>
        <hr>
        {% for thread in subject.threads.all %}
            {% include "news/thread-item.html" %}
        {% endfor %}
    </div>
{% endblock %}